@charset "UTF-8";

/* 2010-12-05 */

/*  ぬかみそwebフォント  */

/*
--------------------------------------------------------
ウェブフォントは、フォント使用許諾契約に基き、
当該文書を装飾する目的で使用しています。
フォント使用許諾条件に同意しない転用と再配布を禁じます。
--------------------------------------------------------
*/
@font-face
{
	font-family:"web_nukamiso";
	src: url('../../nukamiso__beta09.eot');
	src: url('../../nukamiso__beta09.eot?#iefix') format('embedded-opentype'), 
	url(../../nukamiso__beta09.woff2) format('woff2'),
	url(../../nukamiso__beta09.woff) format('woff'),
	url(../../nukamiso__beta09.ttf) format('truetype'),
	url(../../nukamiso__beta09.otf) format('opentype');
}
