body 
{
    margin: 0px 0px 0px 0px;
}

.top_section
{
    width: auto;
    width: 100%;
    height: 10%;
    min-height: 70px;
    position: relative;
    top: 0;
    left: 0;
}
.top_section_left_fill{
    width: 80%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
}
.top_section_right_canvas{
    width: 20%;
    height: 200%;
    left: 80%;
    position: absolute;
}
.top_section_middle_text{
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
    font-size: 160%;
    color: white;
    display: table-cell;
    vertical-align: middle;
    transition: all 2s;
}
