body 
{
	margin: 0px;
}

footer
{
	position: fixed;
	bottom: -22%;

	height: 20%;
	width: calc(100% - 60px);

	background-color: black;
	color: white;

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 4%;
	padding-bottom: 1%;

	transition: bottom 1s ease;

	clip-path: polygon(18% 23%, 35% 6%, 46% 17%, 50% 7%, 54% 18%, 65% 4%, 82%
	16%, 100% 0, 100% 100%, 0 100%, 0 0);

  animation: clip 5s infinite;
}

footer:hover
{
	bottom: 0;
	max-height: 400%;

	transition: bottom 0.6s ease;

  animation: clip 3.5s infinite;
}

@keyframes clip {
  0% {
		clip-path: polygon(18% 23%, 35% 6%, 46% 17%, 50% 7%, 54% 18%, 65% 4%, 82%
		16%, 100% 0, 100% 100%, 0 100%, 0 0);
	}
	50% {
		clip-path: polygon(18% 0, 35% 14%, 46% 4%, 50% 14%, 54% 4%, 65% 13%, 82%
		1%, 100% 9%, 100% 100%, 0 100%, 0 11%);
	}
	100% {
		clip-path: polygon(18% 23%, 35% 6%, 46% 17%, 50% 7%, 54% 18%, 65% 4%, 82%
		16%, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

a 
{
	color: gray;
	font-weight: bold;
	background-color: transparent; 
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline;
}

a:active 
{
	text-decoration: underline;
}

.preamble
{
	width: 100%;
	height: 100%;
	background-color: black;
}

.middle
{
	height: 90%;
	width: 100%;
}

.top_section
{
	background-color: black;
	width: 100%;
	height: 10%;
	min-height: 70px;

	display: flex;
	justify-content: center;
}
.top_section_left_fill{
	flex-grow: 1;
	flex-basis: 0;
}
.top_section_middle_text{
	color: white;
	font-size: 160%;

	flex-grow: 2;
	flex-basis: 0;

	text-align: center;
	vertical-align: middle;
}
.top_section_right_canvas{
	flex-grow: 1;
	flex-basis: 0;
}
